header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 70px;
    padding: 0px 50px;

    border: 1px solid #dbdbdbe7;
    box-shadow: 0 8px 10px -6px gray;

    background-color: white;

    .burger_menu {
        display: none;
    }

    .search_container {
        width: 400px;

        .search {
            display: flex;
            align-items: center;

            width: 100%;
            height: 40px;
            padding: 0px 10px;
            border-radius: 10px;

            background-color: #f3f3f3;
            color: #bdbdbd;

            .input_field {
                border: none;
                outline: none;
                background-color: transparent;
                padding: 0px 5px;
                color: $text_color;


                &::placeholder {
                    color: #bdbdbd;
                  }
            }
        }
    }
}

@media (max-width: 1380px) {
    header {
        padding: 0px 20px;
    }
}

@media (max-width: 1200px) {
    header {
        .burger_menu {
            display: block;
        }

        .search_container {
            width: fit-content;
            margin: 0px;

            .search {
                width: fit-content;
                height: fit-content;
                position: relative;

                margin: 0px;

                background-color: transparent;

                .search_icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 0px;

                    width: 50px;
                    height: 50px;

                    border-style: none;
                    outline: none;
                    border-radius: 50%;

                    font-size: 20px;
                    font-weight: bold;

                    color: $gray;
                    background-color: transparent;

                    pointer-events: painted;
                    cursor: pointer;

                    &:focus ~ .input-search{
                        width: 300px;
                        border-radius: 0px;

                        background-color: transparent;

                        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
                    }
                }

                .input_field {
                    position: relative;

                    height: 50px;
                    width: 50px;
                    padding: 10px;
                    outline: none;
                    padding-right: 40px;

                    border-style: none;
                    border-radius: 25px;

                    font-size: 18px;
                    letter-spacing: 2px;

                    background-color: transparent;

                    transition: all .5s ease-in-out;
                    z-index: 2;

                    &::placeholder {
                        font-size: 18px;
                        letter-spacing: 2px;
                        font-weight: 100;

                        color:rgba(255,255,255,.5);
                        visibility: hidden;
                    }

                    &:focus {
                        width: 300px;

                        border-radius: 10px;
                        border: 1px solid $black;
                        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
                    }

                    // &:focus + .search_icon {
                    //     z-index: 4;
                    // }
                }
            }
        }

        .logo {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}

@media (max-width: 780px) {
    header {
        .user_container {
            .language {
                display: none;
            }
        }
    }
}

@media (max-width: 620px) {
    header {
        .search_container {
            .search {
                .input_field {
                    &:focus {
                        position: absolute;
                        right: 10px;
                        background-color: #f3f3f3;
                    }
                }
            }
        }
    }
}

@media (max-width: 430px) {
    header {
        .search_container {
            .search {
                .input_field {
                    &:focus {
                        width: 250px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width: 370px) {
    header {
        .search_container {
            .search {
                .input_field {
                    &:focus {
                        width: 200px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
