header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 70px;
    padding: 0px 50px;

    border: 1px solid #dbdbdbe7;
    box-shadow: 0 8px 10px -6px gray;

    background-color: white;

    .search_container {
        width: 400px;

        .search {
            display: flex;
            align-items: center;

            width: 100%;
            height: 40px;
            padding: 0px 10px;
            border-radius: 10px;

            background-color: #f3f3f3;
            color: #bdbdbd;

            .input_field {
                border: none;
                outline: none;
                background-color: transparent;
                padding: 0px 5px;
                color: $text_color;


                &::placeholder {
                    color: #bdbdbd;
                  }
            }
        }
    }
}

@media (max-width: 1380px) {
    header {
        padding: 0px 20px;
    }
}
