main {
    display: flex;
    padding: 90px 50px;

    aside {
        width: 380px;

        .section {
            padding: 10px 0px;
        }

        &.left_side_box {
            padding-top: 60px;
        }
    }

    .main_container {
        width: 100%;
        padding: 10px 40px;
    }
}

@media (max-width: 1380px) {
    main {
        padding: 90px 20px;

        .main_container {
            padding: 10px 20px;
        }
    }
}

@media (max-width: 1200px) {
    aside {
        display: none;
        width: 0px;
        transition: all 0.3;

        &:first-child {
            display: block;
            position: fixed;
            left: 0;
            top: 0px;

            width: 300px;
            height: 100%;
            padding: 10px 20px;

            border-radius: 0px 10px 10px 0px;

            background-color: white;
            box-shadow: 6px 6px 15px #bebebe;

            overflow: auto;
            z-index: 2;
        }
    }
}
