main {
    display: flex;
    padding: 90px 50px;

    aside {
        width: 250px;

        .section {
            padding: 10px 0px;
        }
    }

    .main_container {
        width: 100%;
        padding: 10px 40px;
    }
}

@media (max-width: 1380px) {
    main {
        padding: 90px 20px;

        .main_container {
            padding: 10px 20px;
        }
    }
}

