.box {
    margin-left: 10px;

    .badge {
        display: table-cell;
        vertical-align: middle;

        height: 24px;
        margin-left: 20px;
        padding: 3px 5px;
        border-radius: 5px;

        font-size: 15px;
        font-weight: 900;
        line-height: 19px;
        text-transform: uppercase;

        color: white;
        background-color: $red;

        &.blue {
            background-color: $blue;
        }

        &.purple {
            background-color: $purple;
        }
    }
}

@media (max-width: 1310px) {
    .box {
        margin-left: 0px;

        .badge {
            margin-left: 0px;
        }
    }
}

@media (max-width: 550px) {
    .box {
        .badge {
            height: 20px;
            padding: 2px 5px;
            font-size: 12px;
        }
    }
}

@media (max-width: 400px) {
    .box {
        .badge {
            height: 17px;
            padding: 0px 5px;
            font-size: 8px;
            font-weight: bold;
        }
    }
}
