.btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 50px;

    border: none;
    outline: none;
    border-radius: 10px;

    background-color: $blue;
    color: white;
    font-weight: bold;
    font-size: 15px;

    transition: 1s ease;

    &.topic {
        height: 32px;
        background-color: transparent;
        color: $text_color;

        transition: none;

        &:nth-child(2) {
            margin: 0px 5px;
        }

        &.active {
            background-color: $blue;
            color: white;
        }

        &:hover {
            background-color: $hover_blue;
        }
    }

    &.close {
        width: 30px;
        height: 30px;
        margin: 0px 10px;

        color: $text_color;
        background-color: transparent;

        .fa {
            font-size: 18px;
        }
    }

    &.start_topic {
        width: 240px;

        &:hover {
            background-color: $purple;
        }
    }
}

.start_topic_button {
    position: absolute;
    top: 100px;
    left: 50px;
}

.loged_in_user {
    .btn {
        &.start_topic {
            &:hover {
                span {
                    display: none;
                }

                &:after {
                    content: 'CLICK TO LOGIN';
                }

                background-color: $purple;
            }
        }
    }
}

@media (max-width: 1380px) {
    .start_topic_button {
        left: 10px;
    }
}

@media (max-width: 1200px) {
    .start_topic_button {
        position: fixed;
        top: auto;
        bottom: 80px;
        left: auto;
        right: 40px;
        z-index: 5;

        .btn {
            &.start_topic {
                border-radius: 50%;
                width: 64px;
                height: 64px;
                background-color: $purple;

                span {
                    display: none;
                }

                i {
                    font-size: 30px;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .btn {
        &.close {
            width: 25px;
            height: 25px;
        }
    }
}

@media (max-width: 600px) {
    .btn {
        height: 40px;
        font-size: 12px;
    }
}
