.post_content_comments {
    margin: 20px 0px 0px 0px;
    border-top: 1px solid $gray;

    display: none;

    &_comment {
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        &_img, &_content {
            display: flex;
        }

        &_img {
            align-items: center;

            .user_img {
                margin-right: 10px;
            }
        }

        &_name {
            font-size: 12px;
            font-weight: 900;
            color: $text_color;

            span {
                font-size: 10px;
                color: $gray;
            }
        }

        &_content {
            padding-top: 10px;

            .post_like {
                width: 45px;
            }

            .post_message {
                font-size: 12px;

                padding: 5px 0px 10px 10px;
            }
        }
    }

    &.show_comments {
        display: block;
    }
}

.more_comments {
    width: 100%;
    padding-top: 20px;
    text-align: center;

    font-size: 12px;
    font-weight: 900;
    color: $text_color;
}

@media (max-width: 550px) {
    .more_comments {
        font-size: 10px;
        padding-top: 5px;
    }
}