.post {
    display: flex;
    position: relative;

    margin: 0px 0px 30px 0px;
    padding: 20px 20px 20px 0px;
    border-radius: 10px;
    box-shadow: 6px 6px 15px $gray;

    background-color: white;

    &_like {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 65px;
        text-align: right;

        i, p {
            color: $gray_text;
            font-size: 18px;
        }

        &.blue {
            p, .up {
                color: $blue;
            }
        }

        &.red {
            p, .down {
                color: $red;
            }
        }

        &.black {
            p, .up {
                color: $text_color;
                font-weight: bold;
            }
        }

        p {
            padding: 5px 0px;
            font-weight: bold;
        }
    }

    &_content {
        width: 100%;
        padding: 10px 20px 10px 80px;


        &_title {
            display: flex;
            align-items: center;
            position: relative;

            width: 100%;
            padding-bottom: 25px;
            margin-left: -70px;

            .post_main_title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;

                .user_img {
                    margin-right: -70px;
                }

                .post_content_options_time {
                    display: none;
                }
            }

            &_text {
                display: flex;
                align-items: center;

                font-size: 25px;
                font-weight: 900;
                color: black;
            }
        }

        &_message {
            font-size: 15px;
            color: $post_text_black;
            padding-bottom: 20px;
        }

        &_media {
            display: flex;
            justify-content: space-between;
            transition: 1s ease;

            &_imgs {
                display: flex;
                width: 50%;
                transition: 1s ease;

                img {
                    width: 30%;

                    &:nth-child(2) {
                        margin: 0px 10px;
                    }
                }
            }

            &_map {
                width: 50%;
                margin-left: 10px;
                transition: 1s ease;

                img {
                    width: 100%;
                    transition: 1s ease;
                }
            }
        }
    }

    &_content_options {
        display: flex;
        justify-content: space-between;

        padding-top: 20px;
        font-size: 12px;
        color: $gray_text;

        &_interaction {
            display: flex;

            div {
                &:nth-child(2) {
                    padding: 0px 20px;
                }
            }
        }
    }

    &.single_post {
        .post_content {
            &_media {
                flex-direction: column;

                &_imgs {
                    justify-content: space-between;
                    width: 100%;
                    padding-bottom: 20px;
                }

                &_map {
                    width: 100%;

                    img {
                        height: 500px;
                    }
                }
            }

            &_comments {
                display: block;
            }
        }
    }
}

@media (max-width: 1310px) {
    .post {
        &_content {
            &_title {
                padding-bottom: 15px;
                &_text {
                    flex-direction: column;
                    align-items: flex-start;

                    .badge {
                        margin-left: 0px;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .post {
        padding: 20px 10px 20px 0px;
    }
}

@media (max-width: 800px) {
    .post {
        &_content {
            padding: 10px 20px 10px 20px;

            &_title {
                margin-left: 0px;

                .post_main_title {
                    .user_img {
                        margin-right: 0px;
                    }
                }

                &_text {
                    .box {
                        display: flex;
                        align-items: center;

                        .post_content_options_time {
                            display: block;
                            font-size: 12px;
                            color: $gray_text;
                            padding: 3px 0px 0px 10px;
                        }
                    }
                }
            }

            &_options {
                .post_content_options_time {
                    display: none;
                }

                &_interaction {
                    width: 100%;
                    justify-content: space-between;
                    div {
                        &:last-child {
                            display: none;
                        }

                        &:nth-child(2) {
                            padding: 0;
                        }
                    }
                }
            }

            &_media {
                &_imgs {
                    width: 66%;

                    img {
                        width: 48%;

                        &:nth-child(3) {
                            display: none;
                        }
                    }
                }

                &_map {
                    width: 33%;
                    padding-top: 33%; /* 1:1 Aspect Ratio */
                    position: relative;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }
            }
        }

        &_like {
            width: fit-content;
            padding-right: 15px;
            text-align: left;
        }

        &.single_post {
            .post_content_media_map {
                padding: 0;
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .post {
        &_content {
            &_title {
                padding-bottom: 10px;

                &_text {
                    font-size: 20px;
                }
                .box {
                    .post_content_options_time {
                        font-size: 10px;
                        padding-top: 10px;
                    }
                }
            }

            &_message {
                font-size: 14px;
                padding-bottom: 10px;
            }
        }

        &_like {
            i, p {
                font-size: 15px;
            }

            p {
                padding: 3px 0px;;
            }
        }
    }

    .user_img {
        img {
            width: 32px;
            height: 32px;
        }
    }
}

@media (max-width: 400px) {
    .post {
        &_content {
            padding: 0px 10px;

            &_title {
                &_text {
                    font-size: 15px;
                }

                .box {
                    .post_content_options_time {
                        padding-top: 5px;
                    }
                }
            }

            &_message {
                font-size: 12px;
            }

            &_options {
                padding-top: 10px;
            }

            &_comments {
                &_content {
                    &_content {
                        .post_like {
                            width: 15%;
                            padding-right: 0;
                        }

                        .post_message {
                            width: 100%;
                        }
                    }
                }
            }
        }

        &_like {
            p, i {
                font-size: 12px;
            }
        }
    }
}
