.user_container {
    display: flex;

    .language {
        display: flex;
        flex-direction: column;
        background-color: transparent;

        button {
            display: flex;
            align-items: center;

            i {
                margin-top: -8px;
                padding-left: 10px;
            }
        }
    }
}

.user_img {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    &.user_red {
        border: 3px solid $red;
    }

    &.user_blue{
        border: 3px solid $blue;
    }
}
