.user_container {
    display: flex;

    .language {
        display: flex;
        flex-direction: column;
        background-color: transparent;

        button {
            display: flex;
            align-items: center;

            i {
                margin-top: -8px;
                padding-left: 10px;
            }
        }
    }
}

.user_img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;
    border-radius: 50%;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;

        &[src*="avatar"] {
            border: 1px solid #888888;
        }
    }

    &.user_red {
        border: 3px solid $red;
    }

    &.user_blue{
        border: 3px solid $blue;
    }
}

.profile {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;

    .user_status {
        display: none;
        flex-direction: column;
        align-items: center;

        margin-right: 10px;

        .user_name {
            font-size: 15px;
            color: $gray;
            padding: 3px 0px;
        }
    }

    .like {
        display: flex;
        align-items: center;

        font-size: 15px;
        font-weight: bold;

        color: $blue;

        img {
            width: 24px;
            height: 24px;
            padding-right: 3px;
        }
    }

    .dislike {
        color: $red;
    }

    &:hover {
        .user_status {
            display: flex;
        }
    }
}

@media (max-width: 1310px) {
    .profile {
        .user_status {
            .user_name {
                max-width: 150px;

                text-align: center;
                text-overflow: ellipsis;

                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}
