html,
body {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
  overflow-x: hidden;
  background: #FCFCFC;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

.title {
  padding: 10px 0px;
  font-size: 15px;
  font-weight: 700;
  color: #396268;
}

.red {
  color: #C90000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-text-size-adjust: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.user_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user_container .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
}

.user_container .language button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_container .language button i {
  margin-top: -8px;
  padding-left: 10px;
}

.user_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
}

.user_img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user_img img[src*="avatar"] {
  border: 1px solid #888888;
}

.user_img.user_red {
  border: 3px solid #C90000;
}

.user_img.user_blue {
  border: 3px solid #55C2C1;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
}

.profile .user_status {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.profile .user_status .user_name {
  font-size: 15px;
  color: #BEBEBE;
  padding: 3px 0px;
}

.profile .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #55C2C1;
}

.profile .like img {
  width: 24px;
  height: 24px;
  padding-right: 3px;
}

.profile .dislike {
  color: #C90000;
}

.profile:hover .user_status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo img {
  width: 155px;
  height: 40px;
}

.dropdown {
  color: #396268;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.dropdown_content {
  display: none;
  position: absolute;
  top: 50px;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content a {
  color: #396268;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #55c2c040;
}

.language:hover .dropdown_content {
  display: block;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #55C2C1;
  color: white;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.btn.topic {
  height: 32px;
  background-color: transparent;
  color: #396268;
  -webkit-transition: none;
  transition: none;
}

.btn.topic:nth-child(2) {
  margin: 0px 5px;
}

.btn.topic.active {
  background-color: #55C2C1;
  color: white;
}

.btn.topic:hover {
  background-color: #55c2c040;
}

.btn.close {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
  color: #396268;
  background-color: transparent;
}

.btn.close .fa {
  font-size: 18px;
}

.btn.start_topic {
  width: 240px;
}

.btn.start_topic:hover {
  background-color: #6B55C2;
}

.loged_in_user .btn.start_topic:hover {
  background-color: #6B55C2;
}

.loged_in_user .btn.start_topic:hover span {
  display: none;
}

.loged_in_user .btn.start_topic:hover:after {
  content: 'CLICK TO LOGIN';
}

@media (max-width: 900px) {
  .btn.close {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 600px) {
  .btn {
    height: 40px;
    font-size: 12px;
  }
}

.topics .topics_filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topics .btn.topic {
  font-weight: 400;
}

.city_topic .city_topics .city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #396268;
  font-weight: 800;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
}

.city_topic .city_topics .city.zero {
  color: #BEBEBE;
}

.city_topic .city_topics .city:hover {
  background-color: #55c2c040;
}

.city_topic.top_members .city_topics .city {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 5px 0px;
}

.city_topic.top_members .city_topics .city:hover {
  background-color: transparent;
}

.city_topic.top_members .city_topics .city p {
  width: 100%;
}

.city_topic.top_members .city_topics .city .user_img img {
  width: 32px;
  height: 32px;
  margin: 0px 10px;
}

.filters .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 48px;
  margin: 5px 0px;
  border-radius: 10px;
}

.filters .filter .filter_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.filters .filter .filter_content .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  color: #55C2C1;
}

.filters .filter .filter_content .icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 20px;
}

.filters .filter .filter_content_name {
  padding: 0px 10px;
  font-size: 15px;
  color: #396268;
}

.filters .filter .close {
  display: none;
}

.filters .filter.active {
  background-color: #55c2c040;
}

.filters .filter.active .icon {
  background-color: #55C2C1;
}

.filters .filter.active .icon.purple {
  background-color: #6B55C2;
}

.filters .filter.active .icon.red {
  background-color: #C90000;
}

.filters .filter.active .icon i {
  color: white;
}

.filters .filter.active .filter_content_name {
  font-weight: bold;
}

.filters .filter.active .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters .filter:hover {
  background-color: #55c2c040;
}

.blog_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
  width: 245px;
  height: 275px;
  margin-top: 80px;
  padding: 20px 40px;
  border-radius: 15px;
  background-color: #55c2c040;
}

.blog_card_img {
  position: absolute;
  top: -77px;
  right: -0;
  width: 225px;
  height: 240px;
}

.blog_card_img img {
  width: 100%;
  height: 100%;
}

.blog_card_message {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  color: #396268;
}

.blog_card .blog_btn {
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: #6B55C2;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0px 0px 30px 0px;
  padding: 20px 20px 20px 0px;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 15px #BEBEBE;
          box-shadow: 6px 6px 15px #BEBEBE;
  background-color: white;
}

.post .post_like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  text-align: right;
}

.post .post_like i, .post .post_like p {
  color: #bdbdbd;
  font-size: 18px;
}

.post .post_like.blue p, .post .post_like.blue .up {
  color: #55C2C1;
}

.post .post_like.red p, .post .post_like.red .down {
  color: #C90000;
}

.post .post_like.black p, .post .post_like.black .up {
  color: #396268;
  font-weight: bold;
}

.post .post_like p {
  padding: 5px 0px;
  font-weight: bold;
}

.post .post_content {
  width: 100%;
  padding: 10px 20px;
}

.post .post_content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  padding-bottom: 20px;
}

.post .post_content_title_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 900;
  color: black;
}

.post .post_content_message {
  font-size: 15px;
  color: #363636;
  padding-bottom: 20px;
}

.post .post_content_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.post .post_content_media_imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.post .post_content_media_imgs img {
  width: 30%;
}

.post .post_content_media_imgs img:nth-child(2) {
  margin: 0px 10px;
}

.post .post_content_media_map {
  width: 50%;
  margin-left: 10px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.post .post_content_media_map img {
  width: 100%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.post_content_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  font-size: 12px;
  color: #bdbdbd;
}

.post_content_options_interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post_content_options_interaction div:nth-child(2) {
  padding: 0px 20px;
}

.post.single_post .post_content_media {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post.single_post .post_content_media_imgs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.post.single_post .post_content_media_map {
  width: 100%;
}

.post.single_post .post_content_media_map img {
  height: 500px;
}

.post.single_post .post_content_comments {
  display: block;
}

.badge {
  display: table-cell;
  vertical-align: middle;
  height: 24px;
  margin-left: 20px;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 900;
  line-height: 19px;
  text-transform: uppercase;
  color: white;
  background-color: #C90000;
}

.badge.blue {
  background-color: #55C2C1;
}

.badge.purple {
  background-color: #6B55C2;
}

.info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border-radius: 10px;
  background-color: #55c2c040;
}

.info_container .logo {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.info_container .logo img {
  width: 107px;
  height: 26px;
}

.info_container_content {
  width: 100%;
  padding: 40px;
  text-align: center;
}

.info_container_content_title {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #303030;
}

.info_container_content_text {
  font-size: 15px;
  color: #363636;
}

.post_content_comments {
  margin: 20px 0px 0px 0px;
  border-top: 1px solid #BEBEBE;
  display: none;
}

.post_content_comments_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.post_content_comments_comment_img, .post_content_comments_comment_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post_content_comments_comment_img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post_content_comments_comment_img .user_img {
  margin-right: 10px;
}

.post_content_comments_comment_name {
  font-size: 12px;
  font-weight: 900;
  color: #396268;
}

.post_content_comments_comment_name span {
  font-size: 10px;
  color: #BEBEBE;
}

.post_content_comments_comment_content {
  padding-top: 10px;
}

.post_content_comments_comment_content .post_like {
  width: 45px;
}

.post_content_comments_comment_content .post_message {
  font-size: 12px;
  padding: 5px 0px 10px 10px;
}

.post_content_comments.show_comments {
  display: block;
}

.more_comments {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  color: #396268;
}

.manage_topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
}

.manage_topic_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  height: 84px;
  font-size: 10px;
  font-weight: 700;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.manage_topic_container:first-child {
  border: 1px solid #bdbdbda6;
  border-radius: 0px 10px 0px 0px;
  color: #bdbdbda6;
}

.manage_topic_container:last-child {
  border: 1px solid #BEBEBE;
  border-radius: 0px 0px 0px 10px;
  background-color: #55C2C1;
  color: white;
}

.manage_topic_container i {
  font-size: 35px;
  padding-bottom: 5px;
}

.manage_topic_container.closed {
  background-color: #6B55C2;
}

.manage_topic_container.delete {
  background-color: #C90000;
  color: white;
}

nav {
  padding: 20px 10px;
}

nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navigation_item {
  list-style-type: none;
  font-size: 10px;
  font-weight: bold;
  color: #888888;
}

.login_overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(93, 92, 92, 0.26);
}

.blur {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.overlay .modal_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #396268;
}

.overlay .modal_title h3 {
  font-weight: 900;
}

.overlay .modal_title .btn.close svg {
  width: 30px;
  height: 30px;
}

.overlay p {
  padding: 20px 0px;
}

.overlay form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

.overlay form label {
  padding-bottom: 10px;
}

.overlay form input {
  height: 30px;
  outline: none;
  border: 1px solid #BEBEBE;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0px 10px;
  color: #363636;
}

.overlay form .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.overlay form .password_box input {
  margin-top: 10px;
  width: 100%;
}

.overlay form .password_box:first-child {
  margin-right: 10px;
}

.overlay .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 410px;
  border-radius: 15px;
  font-size: 15px;
  color: #363636;
  background-color: white;
}

.login_modal .login {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #BEBEBE;
}

.login_modal .register {
  width: 100%;
  padding: 20px;
}

@media (max-width: 500px) {
  .login_modal {
    width: 96%;
  }
}

@media (max-height: 786px) {
  .login_modal {
    height: 95%;
    overflow: scroll;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.new_post_modal {
  display: none;
  position: absolute;
  top: 0;
  width: 50%;
  margin: 20px auto;
  background-color: white;
}

.new_post_modal .modal_title {
  padding: 10px 20px;
  border-bottom: 1px solid #BEBEBE;
}

.new_post_modal .new_post_content {
  padding: 20px;
}

.new_post_modal .new_post_content .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

.new_post_modal .new_post_content .dropdown_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding: 1px;
  font-size: 15px;
  font-weight: bold;
  color: #363636;
}

.new_post_modal .new_post_content .dropdown_option .dropdown_select {
  position: relative;
  margin-top: 10px;
  height: 31px;
  border-radius: 5px;
  padding: 0px 10px;
  background-color: white;
}

.new_post_modal .new_post_content .dropdown_option .dropdown_select:focus {
  outline: none;
}

.new_post_modal .new_post_content .dropdown_option .dropdown_select option {
  width: 100%;
}

.new_post_modal .new_post_content .dropdown_option .dropdown_select option:first-child {
  border-radius: 5px;
  border: 1px solid #BEBEBE;
  color: #bdbdbda6;
}

.new_post_modal .new_post_content .request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0px;
}

.new_post_modal .new_post_content .request label {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #363636;
}

.new_post_modal .new_post_content .request textarea {
  margin: 1px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #BEBEBE;
  padding: 5px;
  color: #363636;
  font-family: helvetica, arial;
}

.new_post_modal .new_post_content .download_photo {
  padding: 10px 0px;
}

.new_post_modal .new_post_content .download_photo p {
  margin-bottom: 10px;
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
  color: #363636;
}

.new_post_modal .new_post_content .download_photo .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new_post_modal .new_post_content .download_photo .photos .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid #BEBEBE;
}

.new_post_modal .new_post_content .download_photo .photos .photo input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
}

.new_post_modal .new_post_content .download_photo .photos .photo input::-webkit-file-upload-button {
  visibility: hidden;
}

.new_post_modal .new_post_content .pin_map {
  padding: 10px 0px;
}

.new_post_modal .new_post_content .pin_map p {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #363636;
}

.new_post_modal .new_post_content .pin_map .map {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.new_post_modal .new_post_content .pin_map .map img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  .new_post_modal .new_post_content .download_photo .photos .photo {
    display: inline-block;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
  }
  .new_post_modal .new_post_content .download_photo .photos .photo:not(:first-child) {
    margin-left: 10px;
  }
  .new_post_modal .new_post_content .download_photo .photos .photo label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 1000px) {
  .new_post_modal {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .new_post_modal .modal_title {
    padding: 5px 20px;
  }
  .new_post_modal .modal_title h3 {
    font-size: 15px;
  }
  .new_post_modal .new_post_content {
    padding: 5px 20px 20px;
  }
  .new_post_modal .new_post_content .dropdown_option {
    font-size: 12px;
    width: 45%;
  }
  .new_post_modal .new_post_content .request label {
    font-size: 12px;
  }
  .new_post_modal .new_post_content .download_photo p {
    font-size: 12px;
  }
  .new_post_modal .new_post_content .pin_map p {
    font-size: 12px;
    margin-bottom: 0px;
    padding: 10px 0px;
  }
}

@media (max-width: 600px) {
  .new_post_modal {
    width: 80%;
  }
  .new_post_modal .modal_title {
    padding: 5px 15px;
  }
  .new_post_modal .modal_title h3 {
    font-size: 12px;
  }
  .new_post_modal .new_post_content {
    padding: 5px 15px 15px;
  }
  .new_post_modal .new_post_content .dropdown_option {
    font-size: 10px;
    width: 48%;
  }
  .new_post_modal .new_post_content .request label {
    font-size: 10px;
  }
  .new_post_modal .new_post_content .download_photo p {
    font-size: 10px;
  }
  .new_post_modal .new_post_content .download_photo .photos .photo label svg {
    width: 35px;
  }
  .new_post_modal .new_post_content .pin_map p {
    font-size: 10px;
    margin-bottom: 0px;
    padding: 10px 0px;
  }
}

@media (max-width: 400px) {
  .new_post_modal {
    width: 90%;
  }
}

@media (max-width: 354px) {
  .new_post_modal .new_post_content .dropdown_option {
    width: 49%;
    font-size: 9px;
  }
}

@media (max-height: 1000px) {
  .new_post_modal {
    height: 90%;
    overflow: scroll;
  }
  .new_post_modal .new_post_content .pin_map .map {
    height: 20%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70px;
  padding: 0px 50px;
  border: 1px solid #dbdbdbe7;
  -webkit-box-shadow: 0 8px 10px -6px gray;
          box-shadow: 0 8px 10px -6px gray;
  background-color: white;
}

header .search_container {
  width: 400px;
}

header .search_container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  border-radius: 10px;
  background-color: #f3f3f3;
  color: #bdbdbd;
}

header .search_container .search .input_field {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0px 5px;
  color: #396268;
}

header .search_container .search .input_field::-webkit-input-placeholder {
  color: #bdbdbd;
}

header .search_container .search .input_field:-ms-input-placeholder {
  color: #bdbdbd;
}

header .search_container .search .input_field::-ms-input-placeholder {
  color: #bdbdbd;
}

header .search_container .search .input_field::placeholder {
  color: #bdbdbd;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 50px;
}

main aside {
  width: 250px;
}

main aside .section {
  padding: 10px 0px;
}

main .main_container {
  width: 100%;
  padding: 10px 40px;
}
/*# sourceMappingURL=style.css.map */